In [1]:
# Let's import some packages we will need to run the code below.
import pandas as pd
import os
import matplotlib.pyplot as plt
from tydal import module1_utils

In [2]:
[NB, PT, PS] = module1_utils.load_tide_station_data()

In [3]:
NB

       Unnamed: 0           Date Time  Water Level  Sigma
0               0 2014-01-01 00:00:00        0.026  0.049
1               1 2014-01-01 00:06:00       -0.197  0.043
2               2 2014-01-01 00:12:00       -0.427  0.033
3               3 2014-01-01 00:18:00       -0.624  0.043
4               4 2014-01-01 00:24:00       -0.788  0.049
5               5 2014-01-01 00:30:00       -0.961  0.033
6               6 2014-01-01 00:36:00       -1.152  0.036
7               7 2014-01-01 00:42:00       -1.358  0.033
8               8 2014-01-01 00:48:00       -1.542  0.030
9               9 2014-01-01 00:54:00       -1.683  0.033
10             10 2014-01-01 01:00:00       -1.778  0.033
11             11 2014-01-01 01:06:00       -1.883  0.030
12             12 2014-01-01 01:12:00       -2.044  0.026
13             13 2014-01-01 01:18:00       -2.234  0.052
14             14 2014-01-01 01:24:00       -2.392  0.030
15             15 2014-01-01 01:30:00       -2.530  0.026
16             16 2014-01-01 01:36:00       -2.608  0.023
17             17 2014-01-01 01:42:00       -2.664  0.026
18             18 2014-01-01 01:48:00       -2.746  0.026
19             19 2014-01-01 01:54:00       -2.848  0.023
20             20 2014-01-01 02:00:00       -2.927  0.026
21             21 2014-01-01 02:06:00       -2.973  0.033
22             22 2014-01-01 02:12:00       -3.005  0.023
23             23 2014-01-01 02:18:00       -3.035  0.030
24             24 2014-01-01 02:24:00       -3.051  0.023
25             25 2014-01-01 02:30:00       -3.068  0.023
26             26 2014-01-01 02:36:00       -3.038  0.020
27             27 2014-01-01 02:42:00       -2.979  0.033
28             28 2014-01-01 02:48:00       -2.904  0.026
29             29 2014-01-01 02:54:00       -2.848  0.020
...           ...                 ...          ...    ...
79876        6916 2016-11-29 19:36:00        8.497  0.141
79877        6917 2016-11-29 19:42:00        8.517  0.092
79878        6918 2016-11-29 19:48:00        8.494  0.072
79879        6919 2016-11-29 19:54:00        8.517  0.098
79880        6920 2016-11-29 20:00:00        8.523  0.095
79881        6921 2016-11-29 20:06:00        8.500  0.069
79882        6922 2016-11-29 20:12:00        8.458  0.066
79883        6923 2016-11-29 20:18:00        8.504  0.072
79884        6924 2016-11-29 20:24:00        8.481  0.121
79885        6925 2016-11-29 20:30:00        8.405  0.079
79886        6926 2016-11-29 20:36:00        8.313  0.079
79887        6927 2016-11-29 20:42:00        8.291  0.082
79888        6928 2016-11-29 20:48:00        8.215  0.095
79889        6929 2016-11-29 20:54:00        8.166  0.089
79890        6930 2016-11-29 21:00:00        8.061  0.075
79891        6931 2016-11-29 21:06:00        7.959  0.079
79892        6932 2016-11-29 21:12:00        7.890  0.072
79893        6933 2016-11-29 21:18:00        7.828  0.095
79894        6934 2016-11-29 21:24:00        7.716  0.089
79895        6935 2016-11-29 21:30:00        7.602  0.075
79896        6936 2016-11-29 21:36:00        7.444  0.092
79897        6937 2016-11-29 21:42:00        7.273  0.052
79898        6938 2016-11-29 21:48:00        7.155  0.075
79899        6939 2016-11-29 21:54:00        7.109  0.085
79900        6940 2016-11-29 22:00:00        6.995  0.072
79901        6941 2016-11-29 22:06:00        6.768  0.082
79902        6942 2016-11-29 22:12:00        6.594  0.075
79903        6943 2016-11-29 22:18:00        6.453  0.072
79904        6944 2016-11-29 22:24:00        6.329  0.069
79905        6945 2016-11-29 22:30:00        6.165  0.069

[255106 rows x 4 columns]

# Tides
## What causes tides?

Tides are caused by gravitational attraction to nearby celestial bodies.  The water on Earth is affected mainly by the Moon, because it is so close, and the Sun, because it is so massive.

### The Moon's contribution to tides
First, we will look at the influence of the Moon on Earth's water.  The primary bulge on the surface of the Earth facing the Moon is intuitive;  The Moon is on that side and its gravity pulls on the water.  The secondary bulge on the opposite face of the Earth is more elusive.  The center of mass of the Earth-Moon system is located inside the Earth, but slightly closer to the Moon.  As the Earth-Moon system rotates around this center of mass, the centripetal force pushes water to the outside, which is the side opposite the Moon.  The tidal bulge can be seen in blue below.  The Earth is the green circle and the Moon is the grey circle.

In [ ]:
from IPython.display import Image
Image("./Figures/TidalBulge.jpg")

The moon revolves around the Earth as the Earth rotates around its axis.  The period of Earth's rotation is 24 hours, while the period of the Moon's revolution around the Earth is ~28 days.  As the Earth rotates underneath the Moon, it moves through the Moon's tidal bulge.  This can be seen in the figure below.  A single point on Earth has been highlighted as a red dot.  Initially, the red dot starts out at the crest of the tidal bulge and is experiencing high tide.  After 6 hours, the red dot has moved underneath the bulge and has moved to the trough of the bulge known as low tide.  Continuing through the day, the red dot experiences another crest (high tide) and another trough (low tide) before returning to the initial position at high tide.

In [ ]:
Image ("./Figures/Earth_Moon_Tides_Simple.jpg")

A location on Earth where there are two high tides and two low tides with equal amplitude experience semidiurnal tides.  This can be seen by plotting some tide data from North Carolina (below).

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

data = pd.read_csv("./Data/SemiDiurnalTides.csv", parse_dates=["Date Time"])

fig, ax = plt.subplots(figsize=(15,8))
plt.style.use("ggplot")
plt.plot(data["Date Time"], data["Water Level"])
plt.xlabel("Time of day")
plt.ylabel("Water Height")
plt.title("Semidiurnal Tides in North Carolina")

As you can see, there are two low tides at about -1ft and two high tides at about +3.3ft.  You may also notice that the tidal period is slightly longer than 24 hours.

However, the Moon revolves around the Earth in the same direction that the Earth rotates around its axis.  As such, after 24 hours the Moon has advanced past its original position.  The Earth has to rotate for an additional 50 minutes to be positioned underneath the moon.  The correct representation is shown below.

In [ ]:
import pandas as pd
import xarray as xr
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline
#Load data
data = pd.read_csv('../Data/2014_PortTownsend.csv', parse_dates=['Date Time'])
import plotly.plotly as py
import plotly.graph_objs as go
data_datetime = pd.DatetimeIndex(data['Date Time'])
def f(data):
    data = data.copy()
    data['Year'] = pd.DatetimeIndex(data['Date Time']).year
    data['Month'] = pd.DatetimeIndex(data['Date Time']).month
    data['Day'] = pd.DatetimeIndex(data['Date Time']).day
    data['Hour'] = pd.DatetimeIndex(data['Date Time']).hour
    data['Minute'] = pd.DatetimeIndex(data['Date Time']).minute
    data['Time'] =  data['Hour'] + data['Minute']/60
    return data

In [ ]:
data1 = f(data)
data2014 = data1.query('Year == 2014')
data012014 = data2014.query('Month == 1')
data01012014 = data012014.query('Day == 1')
data01012014_simp = data01012014[['Time','Water Level']]
data01012014_simp

In [ ]:
data01012014_simp.sort_values(by=['Water Level', 'Time'], ascending=True)

In [ ]:
data01012014_simp[(data01012014_simp.Time >= 15) & (data01012014_simp.Time <= 20)]

In [ ]:
plt.style.use('ggplot')
fig, ax = plt.subplots(figsize=(12, 6))
plt.plot(data01012014['Time'], data01012014['Water Level'])
plt.scatter(22.8, 9.5)
plt.xlabel("Time (H)")
plt.ylabel("Water Depth based on MLLW")
ax.set_title("Port Townsend Water Level by Time showing High and Low Tide")
plt.show()

In [ ]:
#plt.xlabel("Time (H)")
#plt.ylabel("Water Level")
#ax.set_title("Port Townsend Water Level by Time showing High and Low Tide")
#plt.show()
#import seaborn
#seaborn.set()
#data01012014.groupby(['Time'])['Water Level'].mean().plot.bar()

In [ ]:
Image("./Figures/Earth_Moon_Tides_Real.jpg")

### The Sun's contribution to tides

The Sun, although much more massive than the Moon, is farther away from Earth than the Moon and has less of an effect on the Earth's tides than the Moon.  However, it still creates its own tidal bulge.  The bulge from the sun is similar to the one formed by the moon.  Thus, the resulting bulge that the Earth sees is a sum of the two bulges: the one from the Moon and the one from the Sun.  The tidal bulge due to the Sun is in yellow and the tidal bulge from the Moon is in blue.

In [ ]:
Image("./Figures/SunMoon_sum.jpg")

#### Phases of the Moon

First, we will review the phases of the Moon.  The amount of the moon that is visible (illuminated) from Earth is dependent on its position relative to the Earth and Sun. When the Moon is positioned between the Sun and the Earth, it is called a New Moon, as shown below.  From Earth, if you look at the moon you will not see it.  The illuminated side is facing away from us.

In [ ]:
Image("./Figures/NewMoon.jpg")

When the Moon makes it a quarter of the way around the Earth, or 90 degrees, it has reached the phase known as First Quarter.  At the point the right half of the moon is illuminated when viewed from Earth, as seen below.

In [ ]:
Image("./Figures/FirstQuarter.jpg")

When the Moon has moved another quarter of the way around Earth, it reaches the phase known as Full Moon.  When viewed from the Earth, the whole moon is illuminated and visible.

In [ ]:
Image("./Figures/FullMoon.jpg")

Continuing through another quarter of the way around Earth puts it in the Third Quarter postion.  At this point, the left half of the Moon is illuminated when viewed from Earth.

In [ ]:
Image("./Figures/ThirdQuarter.jpg")

## Spring and Neap Tides

A Spring tide occurs when the Sun, Earth, and Moon are in a line, as in a New Moon or Full Moon.  This causes the tidal bulges from the Sun and Moon to align and results in a higher high tide and a lower low tide.

In [ ]:
Image("./Figures/SunMoon_Full.jpg")

A Neap Tide occurs when the Moon is perpendicular to the line through the center of the Earth and Sun.  This occurs during First and Third Quarters.  This causes the tidal bulges to counter each other and results in a lower high tide and a higher low tide.

In [ ]:
Image("./Figures/SunMoon_Third.jpg")

In [ ]:
Image("./Figures/FirstQuarter.jpg")

As you can see, the difference between high tide and low tide during a Spring Tide is much larger than during a Neap Tide.

# Tide changes over different ports in same area

In [ ]:
PTdata = pd.read_csv('../Data/2014_PortTownsend.csv', parse_dates=['Date Time'])
PTdata1 = f(PTdata)
PTdata2014 = PTdata1.query('Year == 2014')
PTdata062014 = PTdata2014.query('Month == 6')
PTdata06012014 = PTdata062014.query('Day == 1')
PTdata06012014_simp = PTdata06012014[['Time','Water Level']]
PAdata = pd.read_csv('../Data/2014_PortAngeles.csv', parse_dates=['Date Time'])
PAdata1 = f(PAdata)
PAdata2014 = PAdata1.query('Year == 2014')
PAdata062014 = PAdata2014.query('Month == 6')
PAdata06012014 = PAdata062014.query('Day == 1')
PAdata06012014_simp = PAdata06012014[['Time','Water Level']]
NBdata = pd.read_csv('../Data/2014_NeahBay.csv', parse_dates=['Date Time'])
NBdata1 = f(NBdata)
NBdata2014 = NBdata1.query('Year == 2014')
NBdata062014 = NBdata2014.query('Month == 6')
NBdata06012014 = NBdata062014.query('Day == 1')
NBdata06012014_simp = NBdata06012014[['Time','Water Level']]

In [ ]:
plt.style.use('ggplot')
fig, ax = plt.subplots(figsize=(12, 6))
plt.plot(PTdata06012014_simp['Time'], PTdata06012014_simp['Water Level'],label='Port Townsend')
plt.plot(PAdata06012014_simp['Time'], PAdata06012014_simp['Water Level'],label='Port Angeles')
plt.plot(NBdata06012014_simp['Time'], NBdata06012014_simp['Water Level'],label='Neah Bay')
plt.xlabel("Time (Hours)")
plt.ylabel("Water Depth based on MLLW")
plt.legend()
ax.set_title("Water Level by Time showing High and Low Tide")
plt.show()

Notice in the figure above that each station (in same geographical area=Washington State) the water level chnages between the three. This is due to the ebb and flow of the tides into the sound. Notice the steep positive slopes to flat to steep negative slope and back.

In [ ]:
Image("./Figures/MapOfStations.jpg")

I am thinking one plot of a single day of tides accompanied by four images of earth/moon.  There will be one dot on each (red, green, blue, yellow) at first High, first Low, second High, second Low.  Corresponding to the time at which those tides occur. (I will draw the pictures in Illustrator).

Next, I see a description of how the phase of the moon affects the tides (Spring/Neap)
This will be accompanied by pictures showing the Earth/Moon/Sun in the correct arrangment for each (Four images again, new moon, first quarter, full mooon, third quarter)
There will be two Spring tide days (set of full moon and new moon dates are in the data folder) and two neap tide days (also in data folder).

All of this can just use data from one station.

Then we should pull in all three stations and (still working out exactly how I want to show this) show how the water level compares between the three across a day. (This is to show the ebb and flow of the tides into the sound, steep positive slope to flat to steep negative slope and back).

We may want to pick a full month of data to plot to show how the range of the tides changes throughout the month (from new moon to new moon).